In [1]:
print('hi aju')

hi aju

# new

In [2]:
list_1 = [32,46,55,65]
list_2 = [23,35,45,52]
for i,j in zip(list_1,list_2):
    print(i+j)

55
81
100
117

In [3]:
list_3 = []
for i,j in zip(list_1,list_2):
    list_3.append(i+j)

In [4]:
list_3

[55, 81, 100, 117]

# numpy

In [5]:
import numpy as np

In [6]:
print(np.array(list_1))

[32 46 55 65]

In [7]:
arr1 = np.array(list_1)
arr1

array([32, 46, 55, 65])

In [8]:
arr2 = np.array(list_2)
arr2

array([23, 35, 45, 52])

In [9]:
sum1 = arr1 + arr2
sum1

array([ 55,  81, 100, 117])

In [10]:
%whos

Variable   Type       Data/Info
-------------------------------
arr1       ndarray    4: 4 elems, type `int32`, 16 bytes
arr2       ndarray    4: 4 elems, type `int32`, 16 bytes
i          int        65
j          int        52
list_1     list       n=4
list_2     list       n=4
list_3     list       n=4
np         module     <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
sum1       ndarray    4: 4 elems, type `int32`, 16 bytes

In [11]:
data_2 = [[1,2,3,4],[5,6,7,8]]
data_2

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [12]:
arr3 = np.array(data_2)

In [13]:
arr3

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [14]:
arr3.ndim

2

In [15]:
arr3.dtype

dtype('int32')

In [16]:
arr3.shape

(2, 4)

In [17]:
arr4 = np.array(data_2,dtype = float)

In [18]:
arr4

array([[1., 2., 3., 4.],
       [5., 6., 7., 8.]])

In [19]:
arr5 = np.array(['1','2','3'])
arr5

array(['1', '2', '3'], dtype='<U1')

In [20]:
arr6 = np.array(arr5,dtype = int)

arr6

array([1, 2, 3])

In [21]:
arr6.dtype

dtype('int32')

In [22]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [23]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [24]:
arr7 = np.arange(1,11,2)
arr8 = np.arange(4,20,2)
print(arr7)
print(arr8)

[1 3 5 7 9]
[ 4  6  8 10 12 14 16 18]

In [25]:
arr9 = arr8.reshape(4,2)
arr9

array([[ 4,  6],
       [ 8, 10],
       [12, 14],
       [16, 18]])

In [26]:
arr10 = arr8.reshape(2,4)
arr10

array([[ 4,  6,  8, 10],
       [12, 14, 16, 18]])

In [27]:
arr11 = np.linspace(1,30,5) #each no of interval or division

arr11

array([ 1.  ,  8.25, 15.5 , 22.75, 30.  ])

In [28]:
arr12 = np.linspace(1,12,4)
arr12

array([ 1.        ,  4.66666667,  8.33333333, 12.        ])

# 5th nov

In [29]:
arr = np.arange(5,21)
arr

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [30]:
arr[5:20]

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [31]:
arr[5]
arr[5:]#array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
arr[:5] #array([5, 6, 7, 8, 9])

array([5, 6, 7, 8, 9])

In [32]:
arr[[1,3,5]] #accesing multi indexes

array([ 6,  8, 10])

In [33]:
#ndim indexing
arr2 = np.array([[-7,5,-2,4],[5,6,5,2],[-12,-34,-23,-5]])
arr2

array([[ -7,   5,  -2,   4],
       [  5,   6,   5,   2],
       [-12, -34, -23,  -5]])

In [34]:
arr2[2]

array([-12, -34, -23,  -5])

In [35]:
arr2[[0,1,2]]
arr2[0,1]

5

In [36]:
arr2[:,0]# array([ -7,   5, -12])
arr2[:,1]

array([  5,   6, -34])

In [37]:
arr2[2,2]

-23

In [38]:
arr3 = np.arange(10,82,2)
arr3

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76,
       78, 80])

In [39]:
len(arr3)

36

In [40]:
arr3 = arr3.reshape(6,6)
arr3

array([[10, 12, 14, 16, 18, 20],
       [22, 24, 26, 28, 30, 32],
       [34, 36, 38, 40, 42, 44],
       [46, 48, 50, 52, 54, 56],
       [58, 60, 62, 64, 66, 68],
       [70, 72, 74, 76, 78, 80]])

In [41]:
arr3[:,[0,2]]

array([[10, 14],
       [22, 26],
       [34, 38],
       [46, 50],
       [58, 62],
       [70, 74]])

In [42]:
arr3[:,0:3]

array([[10, 12, 14],
       [22, 24, 26],
       [34, 36, 38],
       [46, 48, 50],
       [58, 60, 62],
       [70, 72, 74]])

In [43]:
arr3[:, :]

array([[10, 12, 14, 16, 18, 20],
       [22, 24, 26, 28, 30, 32],
       [34, 36, 38, 40, 42, 44],
       [46, 48, 50, 52, 54, 56],
       [58, 60, 62, 64, 66, 68],
       [70, 72, 74, 76, 78, 80]])

In [44]:
arr4 = np.array([32,55,33,21])
arr4

array([32, 55, 33, 21])

In [45]:
arr4.sum()

141

In [47]:
np.sum(arr4)

141

In [48]:
arr4.mean()

35.25

In [49]:
np.mean(arr4)

35.25

In [50]:
np.median(arr4)

32.5

In [51]:
arr4 = arr4.reshape(2,2)

In [52]:
arr4

array([[32, 55],
       [33, 21]])

In [53]:
arr4.sum()

141

In [54]:
np.sum()

IndexError: too many indices for array